pkgbase = libinput-rs
	pkgdesc = Rust replacement for libinput with libinput.so.10 ABI compatibility
	pkgver = 0.1.1
	pkgrel = 6
	url = https://github.com/SisyphusAeolides/libinput-rs
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = glibc
	provides = libinput
	provides = libinput.so=10-64
	conflicts = libinput
	replaces = libinput
	backup = etc/libinput-rs/config.json
	source = libinput-rs-0.1.1.tar.gz::https://github.com/SisyphusAeolides/libinput-rs/archive/8788ff208ab301f8c852d77b10d2a805d3fd4b14.tar.gz
	sha256sums = 4f660799ed569f401d4d3f8e09588cf27cfe5565bb57e879b3946928720f25f9

pkgname = libinput-rs
