pkgbase = boulderx
	pkgdesc = GTK4 IRC, Matrix, and Discord bot client
	pkgver = 0.6.2
	pkgrel = 3
	url = https://github.com/SisyphusAeolides/boulderX
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = appstream
	makedepends = cargo
	makedepends = desktop-file-utils
	makedepends = git
	makedepends = pkgconf
	depends = gtk4
	depends = libadwaita
	depends = openssl
	depends = sqlite
	options = !lto
	source = git+https://github.com/SisyphusAeolides/boulderX.git#commit=5f07470571340b9a817e5f78f6eb919f57affeda
	sha256sums = SKIP

pkgname = boulderx
