pkgbase = boulderx
	pkgdesc = GTK4 IRC, Matrix, and Discord bot client
	pkgver = 0.6.2
	pkgrel = 1
	url = https://github.com/SisyphusAeolides/boulderX
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = appstream
	makedepends = cargo
	makedepends = desktop-file-utils
	makedepends = pkgconf
	depends = gtk4
	depends = libadwaita
	depends = openssl
	depends = sqlite
	source = boulderx-0.6.2.tar.gz::https://github.com/SisyphusAeolides/boulderX/archive/729fce5ebce6a80f97c9d5e01e27ee7393654b4e.tar.gz
	sha256sums = 843f70a14c545e4661ba09fc4bb1fe8e3004f8962dfc9d94d5e1453329370943

pkgname = boulderx
